# Node.js dependencies
node_modules/

# Build output
/build
/.cache
/dist

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Remix hidden server/client files
.server
.client

# Editor and system files
.DS_Store
Thumbs.db
.CFUserTextEncoding

# Personal configuration files
.bashrc
.gitconfig
.viminfo

# Editor-specific files
.vscode/
.vscode-react-native/

# Cache or temp directories
.cache/
.dbclient/
.config/
.local/
.npm/

# ESLint cache
node_modules/.cache/eslint

# Tailwind output
tailwind.css.map
